<link rel="stylesheet" href="/css/student.css" />

<div class="Student">
  <h2>Student List</h2>
  <a href="/students/add-student" class="add-link">
    <button class="add-btn">Add Student</button>
  </a>

  <% if (students == undefined || students.length === 0) { %>
  <p>No students found</p>
  <% } else { %>
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < students.length; i++) { %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td><%= students[i].studentName %></td>
          <td><%= students[i].studentEmail %></td>
          <td>
            <a href="/students/<%= students[i]._id %>">
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/material-outlined/24/preview-pane.png"
                alt="preview-pane"
              />
            </a>
          </td>
          <td>
            <a href="/students/edit/<%= students[i]._id %>">
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/pastel-glyph/64/create-new--v3.png"
                alt="create-new--v3"
              />
            </a>
          </td>
          <td>
            <a href="/students/delete/<%= students[i]._id %>">
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/sf-regular/48/filled-trash.png"
                alt="filled-trash"
              />
            </a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <% } %>
</div>
